.navbar-default{
    transition:500ms ease;
    background:transparent;
    color: azure;
  }
  .navbar-default.scrolled{
    background:  rgb(0, 0, 39);
    color: azure;
  }
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  .footer {
    background-color:rgb(7, 67, 95);
    margin: 0px auto;
    padding: 20px 0px; 
  }
  a{
    color: azure;
  }
  a:hover{
    color: azure;
    text-underline-position: below;
  }
  hr {
    border: 0.5px solid rgb(241, 240, 240);
    height: 0.5px;
  }
  .txt{
    color: rgb(195, 217, 241);
    margin-top: 2px;
  }
  

  @font-face{
    font-family: "Montserrat-Bold";
    src: url(https://leverageedu.com/Montserrat-Bold.a3b387c9388260479286.ttf) format('truetype');
  }
  /*
  @font-face{
    font-family: "Montserrat-SemiBold";
    src: local('Montserrat-SemiBold') url(Montserrat-SemiBold.bbcd5bbb5993808a92df.ttf);
  }
  */
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }